<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto__Parcial.Properties.Settings.Segundo_ParcialConnectionString"
            connectionString="Data Source=LAPTOP-R27RH76P\SQLEXPRESS01;Initial Catalog=Segundo_Parcial;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>